h1, h2, h3, h4, h5, .h0, .h1, .h2, .h3, .h4, .h5 {
    letter-spacing: 0px;
    color: #0f4529 !important;
}

.button::after {
  content: none;
}

.button--primary {
  background: #e3ec4d;
  border: none !important;
  text-transform: uppercase;
}