h1, h2, h3, h4, h5, h6, 
.h0, .h1, .h2, .h3, .h4, .h5, .h6 {
  letter-spacing: 0px;
  text-transform: uppercase;
}

.rte ul, .rte ol {
  list-style: outside;
}

.button--primary {
  --color-button: var(--color-base-accent-2);
  --color-button-text: var(--color-base-text);
  
  text-transform: uppercase;
}

.button--primary::after {
  content: none;
}

.button[data-ribbon] {
  border: var(--border-width) rgb(var(--color-button-text)) solid;
}

.caption-with-letter-spacing.inline-richtext,
.caption-with-letter-spacing.image-with-text__text--caption {
  margin-bottom: 1rem;
}